{% extends 'layout.html' %}
 
{%block title%}
 Login User
{%endblock%}

{%block username%} 
        {{post.author}}
{%endblock%}
{% block content%}
    <section>
        <h1> Login user </h1> 
    </section>
    <form action="/users/login/" method="post">
        {% csrf_token %} 
        {{ form }}  
        {%if request.GET.next %}
            <input type="hidden"  name="next" value="{{request.GET.next}}">

        {% endif %}    
        <button class="cta-button">submit</button>
    </form>

{%endblock%}

